.Summary {
    align-items: center;
}

.Summary > div {
    box-sizing: border-box;
    flex-basis: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    align-items: center;
}

.Summary > div:first-child {
    padding-left: 32px;
}

.TextField {
    max-width: 250px;
    text-align: left;
}

.Chip {
    max-width: 150px;
}